[Unit]
Description=Mouse button mapping that works on wayland
After=display-manager.service

[Service]
ExecStart=/opt/wayland-mx-thumb-button/mousemapper

[Install]
WantedBy=multi-user.target
